.CreateVKS_header {
    padding: 20px 20px;
    background: var(--color5);
    color: var(--color3);
}
.CreateVKS_name_block {
    padding: 20px 20px;
    background: var(--color3);
    font-size: 20px;
}

#CreateVKS_table {
    width: 600px;

    font-family:Arial, Helvetica, sans-serif;
	color: var(--color6);
	font-size:14px;
    text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:30px auto;
	border:#ccc 1px solid;
	border-collapse:separate;

    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
 
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

#CreateVKS_table th {
    width: 200px;

    text-align: right;
    font-weight: bold;
	/* padding:21px 25px 22px 25px; */
    padding-right: 10px;
	border-top:1px solid #fafafa;
    border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	color: var(--color1);
 
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
#CreateVKS_table tr td {
	text-align: left;
    color: var(--color1);
	padding-left: 20px;
    border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #cccaca;

    background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.CreateVKS_input {
    margin: 1px;
    padding: 5px 15px;
    font-size: 14px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}
.createVKS_buttons_block {
    width: 80%;
    min-width: 400px;
    max-width: 600px;
}