
.createUser_header {
  padding: 20px 20px;
  background: var(--color5);
  color: var(--color3);
}
.createUser_name_block {
  padding: 20px 20px;
  background: var(--color3);
}
.createUser_buttons_block {
    width: 80%;
    min-width: 400px;
    max-width: 600px;
}