.block_1 {
    margin: 20px 50px;
    padding: 17px 20px;
    background: var(--color3);
    border: 1px solid var(--color7);
    border-radius: 4px;
    box-sizing: border-box;
}
.content_block {
    margin: 20px 50px;
    padding: 17px 20px;
    background: var(--color2);
    border: 1px solid var(--color7);
    border-radius: 4px;
    /* box-sizing: border-box; */
}

.judgeTableStyle {
    margin: 10px 0px 10px 0px;
    /* border: 1px solid #69c; */
    border-spacing: 0;
    /* width: 100%; */
}
.judgeTableStyle th {
    font-weight: bold;
    color: var(--color5);
    border-bottom: 2px solid var(--color7);
    padding: 12px 17px;
    text-align: left;
}
.judgeTableStyle td {
    background: var(--color2);
    border-bottom: 1px solid var(--color7);
    color: var(--color5);
    border-top: 1px solid transparent;
    padding: 8px 15px;
}
.judgeTableID_judgeName {
    min-width: 250px;
}