/*------------------------------*/
/*--------Settings--------------*/
/*------------------------------*/

.settins_wrapper {
    padding: 20px 30px;
    flex-grow: 1;
}
#path_display {padding: 2px 10px;}
.block_1 {
    margin: 20px 50px;
    padding: 17px 20px;
    background: var(--color3);
    border: 1px solid var(--color7);
    border-radius: 4px;
    box-sizing: border-box;
}
.content_block {
    margin: 20px 50px;
    padding: 17px 20px;
    background: var(--color2);
    border: 1px solid var(--color7);
    border-radius: 4px;
    /* box-sizing: border-box; */
}