.sidebar {
    background: var(--color5);
    padding: 20px 15px;
    color: var(--color2);
    min-width: 160px;
    max-width: 250px;
}
.gerb_image {width: 100%;}
.profile_info {padding: 5px 0px 10px 0px; border-bottom: 2px solid var(--color1);}
.menu_wrapper {padding: 5px 0px 10px 0px;border-bottom: 2px solid var(--color1);}
.munu_caption {margin: 10px 0px 5px 0px;}
.menu_btn {}

.menuBtn {
    text-decoration: none;
    color: var(--color2);
}
.menuBtn:hover {color: var(--color4);}

.menu_button {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    /* height: 48px; */
    /* line-height: 48px; */
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
    color: var(--color2);
    text-decoration: none;
    border: solid 1px var(--color2);
    background: none;
}
.menu_button:hover {
    color: var(--color4);
    background: var(--color2);
}