* {
    margin: 0 auto;
    box-sizing: border-box;
    /* font: normal 16px "Play", sans-serif; */
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
html, body {
width: 100%;
height: 100%;
}
:root {
    --color1: #393D3F; /*  */
    --color2: #FDFDFF; /*  */
    --color3: #f5f5f5; /*  */
    --color4: #62929E;
    --color5: #546A7B;
    --color6: #d3d4d8;
    --color7: #b7b8bd;
  }
#app {
    display: flex;
    flex-direction: row;
}
.workspace{
	/* padding: 20px 30px; */
	margin: 0 auto;
	flex-grow: 1;
	position: relative;
  }
.page_header {
  padding: 20px 20px;
  background: var(--color5);
  color: var(--color3);
}

.block_1 { /* settings judgeManagerPage */
    margin: 20px 50px;
    padding: 17px 20px;
    background: var(--color3);
    border: 1px solid var(--color7);
    border-radius: 4px;
    box-sizing: border-box;
}
.content_block { /* settings judgeManagerPage */
    margin: 20px 50px;
    padding: 17px 20px;
    background: var(--color2);
    border: 1px solid var(--color7);
    border-radius: 4px;
    /* box-sizing: border-box; */
}

/*------------------------------*/
/*-----------Table--------------*/
/*------------------------------*/

.verticalCaptions_table {
  width: 600px;

  font-family:Arial, Helvetica, sans-serif;
color: var(--color6);
font-size:14px;
  text-shadow: 1px 1px 0px #fff;
background:#eaebec;
margin:30px auto;
border:#ccc 1px solid;
border-collapse:separate;

  -moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;

-moz-box-shadow: 0 1px 2px #d1d1d1;
-webkit-box-shadow: 0 1px 2px #d1d1d1;
box-shadow: 0 1px 2px #d1d1d1;
}

.verticalCaptions_table th {
  width: 200px;

  text-align: right;
  font-weight: bold;
/* padding:21px 25px 22px 25px; */
  padding-right: 10px;
border-top:1px solid #fafafa;
  border-right: 1px solid #e0e0e0;
border-bottom: 1px solid #e0e0e0;
color: var(--color1);

background: #ededed;
background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.verticalCaptions_table tr td {
text-align: left;
  color: var(--color1);
padding-left: 20px;
  border-top: 1px solid #ffffff;
border-bottom:1px solid #e0e0e0;
border-left: 1px solid #cccaca;

  background: #fafafa;
background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.verticalCaptions_table input, .verticalCaptions_table select {
  margin: 1px;
  padding: 5px 15px;
  font-size: 14px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}

.simple_Table{
    margin: 10px 0px 10px 0px;
    /* border: 1px solid #69c; */
    border-spacing: 0;
    /* width: 100%; */
}
.simple_Table th {
    font-weight: bold;
    color: var(--color5);
    border-bottom: 2px solid var(--color7);
    padding: 12px 17px;
    text-align: left;
}
.simple_Table tr>td:nth-child(2) {min-width: 250px;}
.simple_Table td {
    background: var(--color2);
    border-bottom: 1px solid var(--color7);
    color: var(--color5);
    border-top: 1px solid transparent;
    padding: 8px 15px;
}
/*------------------------------*/
/*-------- Button's ------------*/
/*------------------------------*/

.btn {
	/* min-width: 100px; */
	font-family: inherit;
	appearance: none;
	position: relative;
	border: 1px solid var(--color1);
	border-radius: 5px;
	padding: 1px 5px 1px 5px;
	font-size: 15px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
	background: rgba(0,0,0,0.15);
}
.create {
	background: #059c49;
	color: #fff;
	/* background: no-repeat left/27% url('image/delete.png'), #e74c3c; */
}
.create:hover {
	background: #86d47b;
	/* background: no-repeat left/30% url('image/delete.png'), #c0392b; */
}
.delete {
	background: #e74c3c;
	color: #fff;
	/* background: no-repeat left/27% url('image/delete.png'), #e74c3c; */
}
.delete:hover {
	background: #c0392b;
	/* background: no-repeat left/30% url('image/delete.png'), #c0392b; */
}
.delete:active {
	background: #c0392b;
	/* background: no-repeat left/30% url('image/delete.png'), #c0392b; */
	top: 2px;
}
.delete:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.edit {
	background: #dab246;
	color: #fff;
	/* background: no-repeat left/27% url('image/edit-icon-1.png'), var(--color7); */
}
.edit:hover {
	background: #ffd971;
	/* background: no-repeat left/30% url('image/edit-icon-1.png'), #86a7a7; */
}
.edit:active {
	background: #bbbbbb;;
	/* background: no-repeat left/30% url('image/edit-icon-1.png'), #a4d6d6; */
	top: 2px;
}

.print {
	background: var(--color5);
	color: #fff;
	/* background: no-repeat left/27% url('image/print-icon-1.png'), var(--color5); */
}
.print:hover {
	background: #86a7a7;
	/* background: no-repeat left/30% url('image/print-icon-1.png'), #86a7a7; */
}
.print:active {
	background: #a4d6d6;
	/* background: no-repeat left/30% url('image/print-icon-1.png'), #a4d6d6; */
	top: 2px;
}